* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    text-align: center;
    margin: 2rem;
}

.game-container {
    display: grid;
    grid-gap: 24px;
    grid-template-rows: repeat(3, 160px);
    grid-template-columns: repeat(4, 160px);
}

.flip-card {
    background-color: transparent;
    width: 160px;
    height: 160px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 16px;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border: 8px solid rgb(143, 223, 64);
    box-sizing: border-box;
}

.flip-card-front {
    background-color: rgb(247, 158, 34);
    color: rgb(4, 18, 48);
}

.flip-card-back {
    background-color: rgb(73, 55, 236);
    color: white;
    transform: rotateY(180deg);
}

.front-img,
.back-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
