* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.title {
    text-align: center;
    margin: 1rem;
}

.game-container {
    margin: 10px;
    padding: 10px;
    perspective: 1000px;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.card-front,
.card-back {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.game-container:hover,
.cards {
    transform: rotateY(180deg);
}