* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
}

.title {
    text-align: center;
    margin: 1rem;
}

button {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.start-button {
    background-color: #4CAF50;
    color: white;
}

.reset-button {
    background-color: #f44336;
    color: white;
}

.counter-div,
.timer-div {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}