* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.title {
    text-align: center;
    margin: 1rem;
}

button {
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.start-button {
    background-color: #4caf50;
    color: white;
}

.reset-button {
    background-color: #f44336;
    color: white;
}

.counter-div,
.timer-div {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.game-board {
    display: grid;
    grid-gap: 24px;
    grid-template-rows: repeat(3, 160px);
    grid-template-columns: repeat(3, 160px);
    margin-bottom: 30px;
}

.flip-card {
    border: 2px solid transparent;
    transition: border 0.3s;
    width: 160px;
    height: 160px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.flip-card.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(143, 223, 64);
    box-sizing: border-box;
}

.card-front {
    background-color: rgb(247, 158, 34);
    color: rgb(4, 18, 48);
}

.card-back {
    background-color: rgb(78, 55, 236);
    transform: rotateY(180deg);
    color: white;
}

.card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-card.matched {
    border: 3px solid green;
}